html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
html, body {
}
#bbash { 
    background: url("../img/pauley_large.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 700px;
}

#bbash_container {
    width: calc(100% - 20px);
    height: 100%;
    margin: 0 auto;
}

section {
    min-height: 700px;
    /*width: 100%;*/
    z-index: 5;
    background: #1460ea; /* Old browsers */
    background: -moz-linear-gradient(left,  #1460ea 0%, #f8e505 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1460ea), color-stop(100%,#f8e505)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #1460ea 0%,#f8e505 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #1460ea 0%,#f8e505 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #1460ea 0%,#f8e505 100%); /* IE10+ */
    background: linear-gradient(to right,  #1460ea 0%,#f8e505 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1460ea', endColorstr='#f8e505',GradientType=1 ); /* IE6-9 */
}

#bb_type {
    position: absolute;
    top: 50px;
    right: 00px;
}

#sticky_menu {
    width: 200px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}

#bb_title {
    position: fixed;
    width: 350px;
    left: 50%;
    margin-left: -175px;
    top: 50px;
}

#wrapper {
    /*position: absolute;*/
    position: absolute;
    width: 100%;
    height: 600px;
    color: #FFFFFF;
    font-family: 'Bender-Black', serif;
    text-align: center;
}

.type {
    font-family: 'Bender-Black', serif;
    color: #FFFFFF;
    text-align: right;
    font-size: 50px;
    position: absolute;
    right: 10px;
    top: 470px;
}

#date {
    font-size: 60px;
}

#secs, #mins, #hours, #days {
    width: 50px;
}

#secs, #mins, #hours, #days, #sectext, #mintext, #hourtext, #daytext {
    position: absolute;
    left: 345px;
    top: 110px;
}

#secs {
    margin-left: 245px;
}

#sectext {
    margin-left: 310px;
}

#mins {
    margin-left: 30px;
}

#mintext {
    margin-left: 95px;
}

#hours {
    margin-left: -220px;
}

#hourtext {
    margin-left: -155px;
}

#days {
    margin-left: -430px;
}

#daytext {
    margin-left: -365px;
}

.logos {
    position: absolute;
    top: 640px;
    
    right: 10px;
}

@media all and (max-width: 890px) {
    #bb_type {
        position: relative;
        top: 50px;
        left: 430px;
    }
    .type {
        position: relative;
        left: 30px;
        top: 69px;
        width: 840px;
    }
    #secs, #mins, #hours, #days, #sectext, #mintext, #hourtext, #daytext {
        position: absolute;
        left: 409px;
        top: 110px;
    }
    .logos {
        position: relative;
        top: 129px;
        left: 262px;
    }
}

#eaf_link {
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    font-size: 30px;
    line-height: 30px;
    text-align: left;
    left: 10px;
    top: 10px;
    color: #FFFFFF;
    z-index: 101;
}

#eaf_link:hover {
    opacity: .7;
}

a {
    text-decoration: none;
    color: #000000;
}

li {
    font-family: 'Bender-Black', serif;
    color: #000000;
    font-size: 40px;
    width: 190px;
    background-color: #FFFFFF;
    margin: 10px 10px 10px 0;
    height: 45px;
    padding-left: 10px;
    line-height: 50px;
}

#navigation {
    position: relative;
    top: 80px;
}

h2 {
    font-family: 'Bender-Black', serif;
    color: #FFFFFF;
    font-size: 125px;
    height: 125px;
    text-align: center;    
    position: relative;
    top: 220px;
}

.location {
    font-family: 'Bender-Black', serif;
    color: #FFFFFF;
    font-size: 60px;
    text-align: center;
    position: relative;
    top: 280px;
}

#lounge .location {
    top: 400px;
}

h3 {
    font-family: 'Bender-Black', serif;
    color: #FFFFFF;
    font-size: 80px;
    text-align: center;    
    position: relative;
    top: 300px;
}

#lounge h3 {
    top: 420px;
}

@media all and (max-width: 980px) {
    h2, .location, h3 {
        text-align: left;
    }
    #concert h2 {
        left: 215px;
    }
    #film h2 {
        left: 340px;
    }
    #dance h2 {
        left: 295px;
    }
    #lounge h2 {
        left: 255px;
    }
    #greek {
        position: relative;
        left: 45px;
    }
    #concert .location {
        left: 235px;
    }
    #film .location {
        left: 227px;
    }
    #agb {
        position: relative;
        left: 107px;
    }
    #dance .location {
        left: 283px;
    }
    #lounge .location {
        left: 300px;
    }
    h3 {
        left: 308px;
    }
    #concert h3 {
        left: 393px;
    }
}



