/* BOILERPLATE ***************************************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* BASICS ********************************************************************/
html, body {
   height: 100%;
   width: 100%;
}
#container {
   height: 100%;
   width: 100%;
}
#main_content {
   height: 100%;
   width: 100%;
}
.vcenter_outer {
   font-size: 0;
   line-height: 0;
   white-space: nowrap;
}
.vcenter_outer:before {
   height: 100%;
   display: inline-block;
   vertical-align: middle;
   content: '';
}
.vcenter_inner {
   display: inline-block;
   vertical-align: middle;
   font-size: 20px;
   line-height: 20px;
}
.vcenter_inner.offset_center {
   padding-left: 200px;
   width: calc(100% - 200px);
   text-align: center;
}
.fullpage_section {
    height: 100%;
    min-height: 700px;
    width: 100%;
    min-width: 800px;

    display: block;
    position: relative;
    overflow: hidden;
}


/* NAV ***********************************************************************/
#sticky_menu {
    width: 200px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}
#navigation {
    position: relative;
    top: 80px;
}



/* SPECIFIC SECTIONS *********************************************************/
/*** BBASH *******************************************************************/
#bbash
{
   text-align: right;
}
#bbash:after { 
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: -1;
   background-image: url("../img/pauley_large.jpg");
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

#bbash_container {
   margin-right: 20px;
   font-family: 'Bender-Black', serif;
   color: #FFFFFF;
   font-size: 50px;
   line-height: 50px;
}

#bbash_container img#bb_type {
   width: 450px;
   margin-bottom: 30px;
}

#bbash_container #date {
    font-size: 60px;
    line-height: 60px;
}

#bbash_container #countdown span.fixed_width_num {
    width: 80px;
    display: inline-block;
    vertical-align: bottom;
    text-align: center;
    
    margin-left: -0.2em; /* hacky, to account for the whitespace inserted for the newlines
                            in the html */
    margin-right: 0;
}

.logos {
   margin-top: 10px;
}

.logos img{
   margin-left: 10px;
}


/*** CONCERT *****************************************************************/
#concert_fixed_wrapper
{
   font-family: 'Bender-Black', serif;
   width: 900px;
   height: 900px;
   display: inline-block;
   overflow: hidden;
}
#concert_title_wrapper
{
   color: #FFFFFF;
   text-align: right;
   width: 100%;
}

#concert_title_wrapper_left
{
   font-size: 50px;
   line-height: 50px;
   display: inline-block;
   text-align: right;
}
#concert_title_wrapper_right
{
   font-size: 120px;
   line-height: 120px;
   display: inline-block;
   text-align: left;
}
#artist_slide_canvas, #film_slide_canvas, #dance_slide_canvas
{
   margin-top: 120px;
   position: relative;
   width: 900px;
   height: 600px;
}
#opener_wrapper,
#headliner_wrapper,
#film_wrapper,
#dance_wrapper
{
   position: relative;
   width: 100%;
}
#headliner_title, #film_title
{
   text-align: left;
   color: #000000;
   height: 120px;
   width: 880px;
   padding-left: 20px;
   font-size: 100px;
   line-height: 1.3;
   background: #f8e505;
   position: relative;
   cursor: pointer;
}
#opener_info,
#headliner_info
{
   display: none;
   height: 420px;
   background-color: rgba(255,255,255,0.6);
   width: 100%;
   font-family: 'Bender', serif;
   font-size: 16px;
}

#parking_info {
   display: none;
   height: 270px;
   background-color: rgba(255,255,255,0.6);
   width: 100%;
   font-family: 'Bender-Black', serif;
   font-size: 24px;
}

#opener_title
{
   position: relative;
   text-align: right;
   margin-top: 20px;
   padding-right: 20px;
   color: #000000;
   height: 120px;
   width: 880px;

   font-size: 100px;
   line-height: 1.3;
   background: #f8e505;
   cursor: pointer;
}

#parking_title
{
   position: relative;
   text-align: left;
   margin-top: 20px;
   padding-left: 20px;
   color: #FFFFFF;
   height: 60px;
   width: 880px;

   font-size: 38px;
   line-height: 1.7;
   background: #000000;
   cursor: pointer;
}

.down_arrow_left:after
{
   content: "";
   height: 0px;
   width: 0px;
   border-top: 30px solid black;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position:absolute;
   left: 20px;
   top: 40px;
}
.down_arrow_right:after
{
   content: "";
   height: 0px;
   width: 0px;
   border-top: 30px solid black;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position:absolute;
   right: 20px;
   top: 40px;
}
.down_arrow_right#parking_title:after {
  border-top: 20px solid white;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  top: 20px;
}
.up_arrow_left:after
{
   content: "";
   height: 0px;
   width: 0px;
   border-bottom: 30px solid black;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position:absolute;
   left: 20px;
   top: 40px;
}
.up_arrow_right:after
{
   content: "";
   height: 0px;
   width: 0px;
   border-bottom: 30px solid black;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position:absolute;
   right: 20px;
   top: 40px;
}
.up_arrow_right#parking_title:after {
  border-bottom: 20px solid white;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  top: 20px;
}

.up_arrow_right#left_title:after, .up_arrow_right#right_title:after {
  border-bottom: 30px solid white;
}

.down_arrow_right#left_title:after, .down_arrow_right#right_title:after {
  border-top: 30px solid white;
}

.artist_pic {
  position: absolute;
  left: 0;
  margin: 20px;
}

.artist_bio {
  position: absolute;
  left: 20px;
  margin-top: 20px;
  top: 430px;
  width: 369px;
  height: 400px;
  text-align: left;
}

.artist_video {
  position: absolute;
  left: 460px;
  margin-top: 20px;
}

#tyga_vid {
  left: 460px;
}

.artist_sndcld {
  position: absolute;
  left: 410px;
  top: 450px;
}

#tyga_sndcld {
  left: 440px;
}

.deets {
  width: 440px;
  color: #000000;
  text-align: center;
  font-size: 26px;
  position: relative;
  padding-top: 40px;
  line-height: 1.3;
}

#concession_deets {
  position: relative;
  top: -270px;
  left: 450px;
  font-size: 30px;
}

#parking_deets {
    border-right: 6px black solid;
    height: 230px;
}

#sub_deets {
  font-size: 26px;
  width: 320px;
  text-align: right;
}




#concert {
   background-image: url("../img/concerts.jpg");
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   height: 1000px;
}


#thanks,
#lounge
{
    background: #1460ea; /* Old browsers */
    background: -moz-linear-gradient(left,  #1460ea 0%, #f8e505 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1460ea), color-stop(100%,#f8e505)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #1460ea 0%,#f8e505 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #1460ea 0%,#f8e505 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #1460ea 0%,#f8e505 100%); /* IE10+ */
    background: linear-gradient(to right,  #1460ea 0%,#f8e505 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1460ea', endColorstr='#f8e505',GradientType=1 ); /* IE6-9 */
 }

/********FILM ****************************************/

 #film {
    background-image: url("../img/film.jpg");
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   height: 900px;
 }

#film_fixed_wrapper, #dance_fixed_wrapper, #lounge_fixed_wrapper
{
   font-family: 'Bender-Black', serif;
   width: 900px;
   height: 800px;
   display: inline-block;
   overflow: hidden;
}

#film_title_wrapper, #dance_title_wrapper, #lounge_title_wrapper, #concert_title_wrapper_top
{
   color: #f8e505;
   text-align: right;
   width: 100%;
   font-size: 60px;
   position: relative;
   top: 50px;
}

#film_time, #dance_time, #lounge_time, #concert_title_wrapper_bottom {
  color: #FFFFFF;
  position: relative;
  top: 40px;
  line-height: 50px;
}



#film_info {
   display: none;
   height: 470px;
   background-color: rgba(255,255,255,0.6);
   width: 100%;
   font-family: 'Bender-Black', serif;
   font-size: 24px;
   top: 200px;
}

#film_slide_canvas {
  margin-top: 230px;
}

#donjon_vid {
  position: absolute;
  left: 320px;
  margin-top: 20px;
}

#donjon_bio {
  position: absolute;
  left: 320px;
  top: 460px;
  text-align: left;
  font-family: 'Bender', serif;
   font-size: 16px;
}

/*********** DANCE ************************************/

#dance {
    background-image: url("../img/djedit.jpg");
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   height: 900px;
 }

#left_title, #right_title {
   text-align: left;
   color: #FFFFFF;
   height: 120px;
   width: 400px;
   padding-left: 30px;
   font-size: 60px;
   line-height: 2;
   background: #2E2E2E;
   position: relative;
   cursor: pointer;
}

#right_title {
  line-height: 1.05;
}
#left_wrapper {
  position: absolute;
}
#right_wrapper {
  position: relative;
  top: 0px;
  left: 460px;
}

#dance_slide_canvas {
  margin-top: 300px;
}

#left_info, #right_info {
   display: none;
   height: 210px;
   background-color: rgba(255,255,255,0.6);
   width: 430px;
}

#left_player, #right_player {
  padding: 20px;
}


/******** LOUNGE ******************************/

#lounge {
    background-image: url("../img/bplazaedit.jpg");
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   height: 900px;
 }

#lounge_title_wrapper {
  color: #000000;
}

#lounge_activities_wrapper {
  position: relative;
  top: 150px;
}
.lounge_activities {
  text-align: center;
   color: #000000;
   height: 120px;
   width: 880px;
   padding-left: 20px;
   font-size: 100px;
   line-height: 1.3;
   background: #f8e505;
   position: relative;
   margin-bottom: 30px;
}

#photobooth, #refreshments {
  background: #FFFFFF;
}

#wrapper {
    /*position: absolute;*/
    position: absolute;
    width: 100%;
    height: 600px;
    color: #FFFFFF;
    font-family: 'Bender-Black', serif;
    text-align: center;
}

#eaf_link {
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    font-size: 30px;
    line-height: 30px;
    text-align: left;
    left: 10px;
    top: 10px;
    color: #FFFFFF;
    z-index: 101;
}

#eaf_link:hover {
    opacity: .7;
}

a {
    text-decoration: none;
    color: #000000;
}

li {
    font-family: 'Bender-Black', serif;
    color: #000000;
    font-size: 40px;
    width: 190px;
    background-color: #FFFFFF;
    margin: 10px 10px 10px 0;
    height: 45px;
    padding-left: 10px;
    line-height: 1.3;
}

h2 {
    font-family: 'Bender-Black', serif;
    color: #FFFFFF;
    font-size: 125px;
    line-height: 125px;
    text-align: center;    
    position: relative;
}

.location {
    font-family: 'Bender-Black', serif;
    color: #FFFFFF;
    font-size: 60px;
    text-align: center;
    position: relative;
}

h3 {
    font-family: 'Bender-Black', serif;
    color: #FFFFFF;
    font-size: 80px;
    line-height: 80px;
    text-align: center;    
    position: relative;
}


/******** THANKS ******************************/
#thanks_fixed_wrapper {
   width: 900px;
   height: 600px;
}
h1 {
    font-family: 'Bender-Black', serif;
    color: #000;
    font-size:  20px;
    line-height:  20px;
    text-align: center;    
    position: relative;
    margin-bottom: 2px;
    margin-top: 10px;
 }

 #thanks_column
 {
    font-family: 'Bender', serif;
    font-size:  20px;
    line-height:  20px;
    position: absolute;
    display: inline-block;
    white-space: normal;
 }

 #thanks_column.left
 {
    top: 30px;
    left: 200px;
    right: 50%;
    padding-left: 10px;
 }
 #thanks_column.right
 {
    top: 55px;
    left: 55%;
    right: 5%;
 }
