/* BOILERPLATE ***************************************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

#wrapper { 
    background: url("../img/UCLA_edit_smaller_mod.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
}

#eaf_title {
    position: absolute;
    
    left: 50%;
    margin-left: -375px;
    top: 110px;
}

#wrapper {
    /*position: absolute;*/
    position: absolute;
    width: 100%;
    height: 600px;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
}

.type {
    font-size: 70px;
    position: absolute;
    top: 320px;
    left: 50%;
    margin-left: -420px;
    width: 840px;
}

#infotext {
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align: justify;
    background: transparent;
    background: rgba(255,255,255,0.3);
    border: none;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 9px;
}

#infotext a
{
    color: #444;
    text-decoration: none;
}

#infotext a:hover
{
   text-decoration: underline;
}

#infotext a:visited
{
    color: #444;
    text-decoration: none;
}

#secs, #mins, #hours, #days {
    width: 50px;
}

#secs, #mins, #hours, #days, #sectext, #mintext, #hourtext, #daytext {
    position: absolute;
    left: 50%;
    top: 70px;
    font-size: 55px;
}

#secs {
    margin-left: 290px;
}

#sectext {
    margin-left: 360px;
}

#mins {
    margin-left: 50px;
}

#mintext {
    margin-left: 120px;
}

#hours {
    margin-left: -250px;
}

#hourtext {
    margin-left: -180px;
}

#days {
    margin-left: -500px;
}

#daytext {
    margin-left: -430px;
}

.logos {
    position: absolute;
    bottom: 10px;
    width: 800px;
    left: 50%;
    margin-left: -400px;
}

#bb_link {
    font-family: 'Bender-Black', serif;
    font-weight: 400;
    position: fixed;
    font-size: 30px;
    line-height: 30px;
    text-align: left;
    color: #000000;
}

#bb_link:hover {
    opacity: .7;
}

#student_orgs {
    background: url("../img/eaf_background.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
    position: absolute;
    top: 600px;
    width: 100%;
    height: 700px;
}

#background_orgs {
    position: absolute;
    width: 600px;
    height: 500px;
    margin-top: 100px;
    left: 50%;
    margin-left: -300px;
    background-color: #aaa;
    opacity: .5;
    z-index: 1;
}

#scroll_orgs {
    position: relative;
    left: 50%;
    margin-left: -250px;
    width: 500px;
    height: 460px;
    margin-top: 120px;
    color: #000;
    z-index: 100;
    overflow: auto;
}

h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
    padding-bottom: 8px;
}

h4 {
    font-family: "Arial", sans-serif;
    font-size: 20px;
    text-align: center;
    padding-bottom: 6px;
}

.body_orgs {
    font-family: "Arial", sans-serif;
    font-size: 14px;
    width: 100%;
    height: auto;
    line-height: 16px;
    padding-bottom: 6px;
}

#orgs_title {
    font-family: "Montserrat", sans-serif;
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 35px;
    font-size: 40px;
}

@media only screen and (max-width: 929px) {
    #background_orgs {
        margin-top: 150px;
    }
    #scroll_orgs {
        margin-top: 170px;
    }
}






