html { 
    background: url("../img/UCLA_edit_smaller_mod.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
}

#eaf_title {
    position: fixed;
    
    left: 50%;
    margin-left: -375px;
    top: 130px;
}

#wrapper {
    /*position: absolute;*/
    position: absolute;
    width: 100%;
    height: 600px;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
}

.type {
    font-size: 70px;
    position: fixed;
    top: 340px;
    left: 50%;
    margin-left: -420px;
    width: 840px;
}

#infotext {
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align: justify;
    background: transparent;
    background: rgba(255,255,255,0.3);
    border: none;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 9px;
}

#infotext a
{
    color: #444;
    text-decoration: none;
}

#infotext a:hover
{
   text-decoration: underline;
}

#infotext a:visited
{
    color: #444;
    text-decoration: none;
}

#secs, #mins, #hours, #days {
    width: 50px;
}

#secs, #mins, #hours, #days, #sectext, #mintext, #hourtext, #daytext {
    position: fixed;
    left: 50%;
    top: 430px;
    font-size: 55px;
}

#secs {
    margin-left: 290px;
}

#sectext {
    margin-left: 360px;
}

#mins {
    margin-left: 50px;
}

#mintext {
    margin-left: 120px;
}

#hours {
    margin-left: -250px;
}

#hourtext {
    margin-left: -180px;
}

#days {
    margin-left: -500px;
}

#daytext {
    margin-left: -430px;
}

.logos {
    position: fixed;
    top: 620px;
    width: 100%
}

#bb_link {
    font-family: 'Bender-Black', serif;
    font-weight: 400;
    position: fixed;
    font-size: 30px;
    line-height: 30px;
    text-align: left;
    color: #000000;
}

#bb_link:hover {
    opacity: .7;
}







